In [14]:
import pandas as pd

In [15]:
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

my_dict = {'country' : names,'drives_right' : dr,'cars_per_cap' : cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [16]:
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']
cars.index = row_labels
cars

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

### Square Brackets

Columns Access

In [17]:
cars[["country", "drives_right"]]

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

Rows Access

In [18]:
cars[1:4]

       country  drives_right  cars_per_cap
AUS  Australia         False           731
JPN      Japan         False           588
IN       India         False            18

### loc
Get data with labels

Row Access

In [19]:
cars.loc

Column Access

In [20]:
cars.loc[:,["country", "drives_right"]] #accesing all rows

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

Row & Column Access

In [21]:
cars.loc[["RU","US"],["country", "drives_right"]]

          country  drives_right
RU         Russia          True
US  United States          True

### iloc 
Get data according to position based

Rows Access

In [22]:
cars.iloc[[1,2,3]]

       country  drives_right  cars_per_cap
AUS  Australia         False           731
JPN      Japan         False           588
IN       India         False            18

Column Access

In [23]:
cars.iloc[:,[0,1]]

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

Rows and Column Access

In [24]:
cars.iloc[[1,2,3],[0,1]]

       country  drives_right
AUS  Australia         False
JPN      Japan         False
IN       India         False