# Loop through a Data Frame

In [5]:
import pandas as pd

names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
rows_index = ['US','AUS','JP','IN','RUS','MOR','EGY']

my_dict = {'country' : names,'drives_right' : dr,'cars_per_cap' : cpc}
cars = pd.DataFrame(my_dict, index = rows_index)

### iterrows()

In [7]:
for lab, row in cars.iterrows():
    print(lab)
    print(row)
    print()

US
country         United States
drives_right             True
cars_per_cap              809
Name: US, dtype: object

AUS
country         Australia
drives_right        False
cars_per_cap          731
Name: AUS, dtype: object

JP
country         Japan
drives_right    False
cars_per_cap      588
Name: JP, dtype: object

IN
country         India
drives_right    False
cars_per_cap       18
Name: IN, dtype: object

RUS
country         Russia
drives_right      True
cars_per_cap       200
Name: RUS, dtype: object

MOR
country         Morocco
drives_right       True
cars_per_cap         70
Name: MOR, dtype: object

EGY
country         Egypt
drives_right     True
cars_per_cap       45
Name: EGY, dtype: object

In [11]:
for lab, row in cars.iterrows() :
    print(lab +": "+str(row['cars_per_cap']))

US: 809
AUS: 731
JP: 588
IN: 18
RUS: 200
MOR: 70
EGY: 45

### Add a column

In [10]:
cars["country_length"] = cars["country"].apply(len)
cars

           country  drives_right  cars_per_cap  country_length
US   United States          True           809              13
AUS      Australia         False           731               9
JP           Japan         False           588               5
IN           India         False            18               5
RUS         Russia          True           200               6
MOR        Morocco          True            70               7
EGY          Egypt          True            45               5

In [12]:
for lab, row in cars.iterrows():
    cars.loc[lab, "COUNTRY"] = row["country"].upper()
cars

           country  drives_right  cars_per_cap  country_length        COUNTRY
US   United States          True           809              13  UNITED STATES
AUS      Australia         False           731               9      AUSTRALIA
JP           Japan         False           588               5          JAPAN
IN           India         False            18               5          INDIA
RUS         Russia          True           200               6         RUSSIA
MOR        Morocco          True            70               7        MOROCCO
EGY          Egypt          True            45               5          EGYPT

use apply

In [ ]:
for lab, row in cars.iterrows() :
    cars["COUNTRY"] = cars["country"].apply(str.upper)