# Logical Operators with Pandas & NumPy

In [2]:
import pandas as pd
import numpy as np

In [3]:
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

my_dict = {'country' : names,'drives_right' : dr,'cars_per_cap' : cpc}
cars = pd.DataFrame(my_dict)

### and operator

In [7]:
np.logical_and(cars["cars_per_cap"] > 50, cars["cars_per_cap"] > 200)

0     True
1     True
2     True
3    False
4    False
5    False
6    False
Name: cars_per_cap, dtype: bool

In [9]:
cars[np.logical_and(cars["cars_per_cap"] > 50, cars["cars_per_cap"] > 200)]

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588

### or operator

In [12]:
np.logical_or(cars["cars_per_cap"] > 50, cars["cars_per_cap"] > 1000)

0     True
1     True
2     True
3    False
4     True
5     True
6    False
Name: cars_per_cap, dtype: bool

In [14]:
cars[np.logical_and(cars["cars_per_cap"] > 50, cars["cars_per_cap"] < 1000)]

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
4         Russia          True           200
5        Morocco          True            70

### not operator