In [1]:
import pandas as pd
import numpy as np

In [2]:
amir_deals=pd.read_csv('Datasets/amir_deals.csv')
amir_deals.head()

   Unnamed: 0    product   client status   amount  num_users
0           1  Product F  Current    Won  7389.52         19
1           2  Product C      New    Won  4493.01         43
2           3  Product B      New    Won  5738.09         87
3           4  Product I  Current    Won  2591.24         83
4           5  Product E  Current    Won  6622.97         17

In [3]:
# Count the deals for each product
counts = amir_deals['product'].value_counts()
counts

product
Product B    62
Product D    40
Product A    23
Product C    15
Product F    11
Product H     8
Product I     7
Product E     5
Product N     3
Product G     2
Product J     2
Name: count, dtype: int64

In [4]:
# probability of picking a deal with each product
probs = counts/amir_deals.shape[0]
probs

product
Product B    0.348315
Product D    0.224719
Product A    0.129213
Product C    0.084270
Product F    0.061798
Product H    0.044944
Product I    0.039326
Product E    0.028090
Product N    0.016854
Product G    0.011236
Product J    0.011236
Name: count, dtype: float64

In [11]:
# If you randomly select one of Amir's deals, what's the probability that the deal will involve Product C?
# Product C : 15
# Total products: 178
# Probab: 15/178 = 8.42%

In [15]:
# Sample 5 deals without replacement
np.random.seed(24) # setting seed so that if sample below is again retrieved, it will give same results
amir_deals.sample(5, replace = False)

     Unnamed: 0    product   client status   amount  num_users
127         128  Product B  Current    Won  2070.25          7
148         149  Product D  Current    Won  3485.48         52
77           78  Product B  Current    Won  6252.30         27
104         105  Product D  Current    Won  4110.98         39
166         167  Product C      New   Lost  3779.86         11

In [20]:
np.random.seed(24) # after setting seed, if the sample function is called output will be same
amir_deals.sample(5, replace = False)

     Unnamed: 0    product   client status   amount  num_users
127         128  Product B  Current    Won  2070.25          7
148         149  Product D  Current    Won  3485.48         52
77           78  Product B  Current    Won  6252.30         27
104         105  Product D  Current    Won  4110.98         39
166         167  Product C      New   Lost  3779.86         11

In [24]:
# Sample 5 deals with replacement
amir_deals.sample(5, replace = True)

     Unnamed: 0    product   client status   amount  num_users
35           36  Product B  Current    Won  8588.35         52
122         123  Product B  Current    Won  7219.99         16
18           19  Product A  Current    Won  9913.27         34
130         131  Product A  Current    Won  3425.45         82
41           42  Product A  Current   Lost  5597.34         89